<div class="col-md-12">
    <div>
        <select #city (change)="update($event)">
            <option value="default">----</option>
            <option *ngFor="let city of cities" [value]="city">
                {{city}}
            </option>
        </select>
        
        
            <span style="margin-right: 16px;"></span>
            <input type="text" [(ngModel)]="searchText" placeholder="Search.." >                
                </div>
                <app-bank-details [bankdetails]="bankdetails" [searchText]="searchText"></app-bank-details>
                <!-- <mat-paginator [length]="length"
                [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions"
                (page)="pageEvent = $event"
                aria-label="Select page">
                </mat-paginator> -->